// These colors are specific to the theme.

//Basic colors
@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #94b5b0;
@dark-gray: #788091;
//@very-dark-gray: #051D24;

//Other colors
@cyan: #9ee0d7;
@blue: #8eb3d2;
@purple: #9eb3d0;
@green: #87cd7b;

//Color palette of aurora theme
@color1Comment: #28849c;
@color1Background: #0F1C21;
@color1Text: #93d2c8;
@color1String:#53719a;
@color1Variable: #04C975;
@color1Atribute: #339ba6;
@color1Constant: #18b59a;
@color1Keywords: #11b07d;
@color1Other:#1a959f;
